# Database
DATABASE_URL=postgresql://user:password@localhost:5432/economiza_db

# API
API_V1_PREFIX=/api/v1
DEBUG=True

# Provider API (Webmania/Serpro/Oobj)
PROVIDER_API_URL=
PROVIDER_API_KEY=
PROVIDER_TIMEOUT=5

